{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<main class="col-md-10 mx-auto">
    <div class="float-left col-lg-5 mb-5">
		<h2 class="mb-4">Connectez-vous</h2>
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_email }}" name="email" id="inputEmail" class="form-control mb-4" required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control mb-4" required>

			<input type="hidden" name="_csrf_token"
				value="{{ csrf_token('authenticate') }}"
			>

			<button class="btn btn-success float-left mr-4 px-5" type="submit">
				Connexion
			</button>

			<div class="d-flex align-items-center">
				<p class="my-1"><a href={{ path('app_forgot_password_request') }} class="text-dark">Mot de passe oublié ?</a></p>
			</div>
		</form>
	</div>
	<div class="float-right col-lg-5">
		<h2 class="mb-4">Pas encore de compte ?</h2>
		<p>Vous êtes étudiant vous n'avez pas encore de compte sur la plateforme ?</p>
		<p><a href={{ path('app_register') }} class="btn btn-dark px-4">Accéder au formulaire d'inscription</a></p>
	</div>
</main>
{% endblock %}
