{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="ml-5">Inscription</h1>
    <div class="mt-5"> </div>
    <div class="mb-5 ml-5 "> Vous êtes étudiant et vous n’avez pas encore de compte sur la plateforme ? Remplissez le formulaire ci-dessous afin d’obtenir vos identifiants de connexion.
        Vous recevrez par la suite un email avec des identifiants temporaires.
    </div>
    <div class="ml-5">
    {{ form_start(registrationForm) }}
        <div class="mb-3"><p class="my-0">Ton nom</p>{{ form(registrationForm.nom)}}</div>
        <div class="mb-3"><p class="my-0">Ton prenom</p>{{ form(registrationForm.prenom)}}</div>
        <div class="mb-3"><p class="my-0">Ta date de naissance</p>{{ form(registrationForm.date_naissance)}}</div>
        <div class="mb-3"><p class="my-0">Ta classe</p>{{ form(registrationForm.classe)}}</div>
        <div class="mb-3"><p class="my-0">Ton adresse mail</p>{{ form(registrationForm.email)}}</div>


        <button type="submit" class="btn btn-success float-left md-5 mr-4">Valider </button>
        <p> Vous avez déja un compte? <a href={{ path('app_login') }}> Conneceter vous!</a> </p>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
