{% extends 'base.html.twig' %}

{% block title %}Créer un évènement{% endblock %}

{% block body %}
	<section class="col-10 mx-auto my-5">
		<h1 class="mb-5">Ajouter un évènement</h1>
		<h3 class="mb-4">Informations générales</h3>
		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-5 col-12 mb-0">
				<p class="mt-3 mb-1">Nom de l'événement<span class="text-danger">*</span></p>{{ form_widget(form.nom) }}
				<p class="mt-3 mb-1">Nombre de places<span class="text-danger">*</span></p>{{ form_widget(form.nombre_places) }}
				<p class="mt-3 mb-1">Date<span class="text-danger">*</span></p>{{ form_widget(form.date) }}
				<p class="mt-3 mb-1">Categorie<span class="text-danger">*</span></p>{{ form_widget(form.categorie) }}
				<p class="mt-3 mb-1">Sport associé<span class="text-danger">*</span></p>{{ form_widget(form.sport) }}
				<p class="mt-3 mb-1">Type<span class="text-danger">*</span></p>{{ form_widget(form.type) }}
				<p class="mt-3 mb-1">Vignette<span class="text-danger">*</span></p>{{ form_widget(form.vignette) }}
				<p class="mt-3 mb-1">Image<span class="text-danger">*</span></p>{{ form_widget(form.image) }}
			</div>
			<div class="col-md-7 col-12" class="mb-0">
				<p class="mt-3 mb-1">Description<span class="text-danger">*</span></p>{{ form_widget(form.description, {'attr':{'rows': '10'}}) }}
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-1">
				<button type="submit" class="btn btn-success md-5 mr-4 px-5 mb-2">Valider</button>
			</div>
		</div>

		{{ form_end(form) }}
	</section>
	<style>
		textarea {
			resize: none;
		}
	</style>
{% endblock %}
