{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light mb-5 col-11 mx-auto">
		<ul class="navbar-nav float-left">
			<li class="nav-item">
				<h5>
					<a class="nav-link" href="#">Statistiques</a>
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					{% if path(app.request.attributes.get('_route')) == '/admin/new-event' %}
						<a class="nav-link active" href="{{ path('new-event') }}">Événements</a>
					{% else %}
						<a class="nav-link" href="{{ path('new-event') }}">Événements</a>
					{% endif %}
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					{% if path(app.request.attributes.get('_route')) == '/admin/new-type' %}
						<a class="nav-link active" href="{{ path('new-type') }}">Type d'événements</a>
					{% else %}
						<a class="nav-link" href="{{ path('new-type') }}">Type d'événements</a>
					{% endif %}
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					{% if path(app.request.attributes.get('_route')) == '/admin/new-category' %}
						<a class="nav-link active" href="{{ path('new-category') }}">Catégories</a>
					{% else %}
						<a class="nav-link" href="{{ path('new-category') }}">Catégories</a>
					{% endif %}
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					<a class="nav-link" href="#">Classes</a>
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					{% if path(app.request.attributes.get('_route')) == '/admin/new-sport' %}
						<a class="nav-link active" href="{{ path('new-sport') }}">Sports</a>
					{% else %}
						<a class="nav-link" href="{{ path('new-sport') }}">Sports</a>
					{% endif %}
				</h5>
			</li>
		</ul>
	</nav>
	{% block tab %}
	{% endblock %}
{% endblock %}
