{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light mb-5 col-11 mx-auto">
		<ul class="navbar-nav float-left">
			<li class="nav-item">
				<h5>
					<a class="nav-link" href="#">Statistiques</a>
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					{% if path(app.request.attributes.get('_route')) == '/admin/events' %}
						<a class="nav-link active" href="{{ path('events') }}">Événements</a>
					{% else %}
						<a class="nav-link" href="{{ path('events') }}">Événements</a>
					{% endif %}
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					{% if path(app.request.attributes.get('_route')) == '/admin/types' %}
						<a class="nav-link active" href="{{ path('types') }}">Type d'événements</a>
					{% else %}
						<a class="nav-link" href="{{ path('types') }}">Type d'événements</a>
					{% endif %}
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					{% if path(app.request.attributes.get('_route')) == '/admin/categories' %}
						<a class="nav-link active" href="{{ path('categories') }}">Catégories</a>
					{% else %}
						<a class="nav-link" href="{{ path('categories') }}">Catégories</a>
					{% endif %}
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					<a class="nav-link" href="#">Classes</a>
				</h5>
			</li>
			<li class="nav-item">
				<h5>
					{% if path(app.request.attributes.get('_route')) == '/admin/sports' %}
						<a class="nav-link active" href="{{ path('sports') }}">Sports</a>
					{% else %}
						<a class="nav-link" href="{{ path('sports') }}">Sports</a>
					{% endif %}
				</h5>
			</li>
		</ul>
	</nav>
	{% block tab %}
	{% endblock %}
	<style>
		/* footer */

		.container-fluid {
			overflow: hidden;
			background: #000000;
			color: #989c9e;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		footer{
			line-height: 1.25;
		}

		.bold-text {
			color: white;
		}

		.lien{
			color: #989c9e;
		}
		.lien:hover{
			color: #b7bcbf;
			text-decoration: none;
		}
	</style>
{% endblock %}
