{% extends 'admin/index.html.twig' %}

{% block tab %}
	<div class="col-11 mx-auto">
		<div class="row">

			{# sports #}

			<div class="col-lg-6 mb-5">
				<h2 class="mb-5 text-center">Liste des sports</h2>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col" class="thead-left">#</th>
							<th scope="col">Nom du sport</th>
							<th scope="col"></th>
							<th scope="col" class="thead-right"></th>
						</tr>
					</thead>
					<tbody>
						{% for sport in sports %}
							<tr>
								<th scope="row">{{ sport.id }}</th>
								<td>{{ sport.nom }}</td>
								<td><a href="#" class="btn btn-info float-right">Modifier</a></td>
								<td><a href="{{ path('delete-sport', {'id': sport.id}) }}" class="btn btn-danger float-right">Supprimer</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{# sport form #}

			<div class="col-lg-6 mb-5">
				<h2 class="mb-5 text-center">Ajouter un sport</h2>
				{{ form_start(sport_form) }}
					<div class="col-md-7 mx-auto mb-5">
						<p class="mt-3 mb-1">Nom du sport<span class="text-danger">*</span></p>{{ form_widget(sport_form.nom) }}
					</div>
					<div class="text-center">
						{{ form_widget(sport_form.valider, {'attr': {'class': 'bg-success text-light col-2'}}) }}
					</div>
				{{ form_end(sport_form) }}
			</div>
		</div>
	</div>
	<style>
		/* tables */

		.thead-left{
			border-top-left-radius: 0.25rem;
		}

		.thead-right{
			border-top-right-radius: 0.25rem;
		}

		.table .thead-dark th{
			border: none;
		}
	</style>
{% endblock %}
