{% extends 'base.html.twig' %}

{% block title %}Evénements{% endblock %}

{% block body %}
	<div class="col-11 mx-auto">
		<div class="row">
			<h1 class="mb-4 mr-4">{{ events|length }} événement{% if events|length > 1 %}s{% endif %}</h1>
			<div class="row float-left col-6">
				<label for="categories" class="col-2 mt-3">Catégorie:</label>
				<select name="categories" class="form-control col-4 mt-2">
					{% for categorie in categories %}
						<option value="{{ categorie.libelle }}">{{ categorie.libelle }}</option>
					{% endfor %}
				</select>
				<label for="sports" class="col-1 mt-3">Sport:</label>
				<select name="sports" class="form-control col-4 mt-2">
					{% for sport in sports %}
						<option value="{{ sport.nom }}">{{ sport.nom }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		{% for event in events %}
			<div class="row mt-5">
				<div class="vignette" style="background-image: url('/vignettes/{{event.vignette}}')"></div>
				<div style="width: calc(100% - 275px)">
					<h1 class="event-title"><a href="{{ path('event-detail', {'id': event.id}) }}" class="text-dark">{{ event.nom }}</a></h1>
					<small>{{ event.date|date('d-m-Y') }}</small>
					<p class="text-break description">{{ event.description }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<style>
		.vignette{
			background-position: center;
			height: 250px;
			width: 250px;
			margin-right: 25px;
		}

		.event-title{
			line-height: 1.5rem;
		}

		.description{
			margin-top: 1rem;
			line-height: 2.25rem;
			font-size: 1.2rem;
		}
	</style>
{% endblock %}